GCP_PROJECT_ID=team-researchops-prod-01d6
SITEIMPROVE_BASE_URL=https://reops-proxy.intern.nav.no/siteimprove
UMAMI_BASE_URL=https://umami.nav.no

# Vite-specific variables (for dev mode)
VITE_GCP_PROJECT_ID=team-researchops-prod-01d6
VITE_UMAMI_BASE_URL=https://reops-event-proxy.ekstern.dev.nav.no
