GCP_PROJECT_ID=team-researchops-dev-4396
SITEIMPROVE_BASE_URL=https://reops-proxy.intern.nav.no/siteimprove
MOCK_NAV_IDENT=Z123456

# if wanting to see dev data locally (through reops-proxy)
# BACKEND_TOKEN=THE_TEAM-SHARED_SECRET_BACKEND_TOKEN

# if running against a local backend:
# BACKEND_BASE_URL=http://localhost:8086
