#sql-copy-button {
  z-index: 999;
  position: fixed;
  bottom: 25px; /* Changed from 25px to place it above scroll button */
  right: 25px; /* Changed from left to right */
  border-radius: 100px;
  background: var(--ax-bg-accent-strong);
  color: var(--ax-text-accent-contrast);
  border: 1px solid var(--ax-bg-default);
}

#sql-copy-button:hover {
  background: var(--ax-bg-accent-strong-hover);
}
